* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Monaco";
}
:root {
  --background: rgb(240, 235, 235);
  --second-background: rgb(240, 218, 192);
}
body{
  min-height: 100vh;
  background-color: var(--background);
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2em 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(212, 184, 149, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
ul{
  display:flex;
  align-items: center;
  gap:3em;
}
nav ul a{
  color: black;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}
nav ul a:hover{
  opacity:1;
}
.logo{
  font-size:2em;
  color:white;
  font-weight: 800;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.logo:hover{
  opacity: 1;
}
.btn{
  padding: 0.5em 1em;
  color:black;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5em;
  font-size: 1.1em;
  border: 2px solid whitesmoke;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn:hover{
  background-color: rgb(68, 64, 64);
  color: var(--background);
}
span{
  background: linear-gradient(to right, #25be0a, #044967);
  background-clip: text;
  color: transparent;
}
#menu{
  color: black;
  font-size: 3em;
  display: none;
}
section{
  min-height: 100vh;
  padding: 5% 15%;
}
#home{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color:black;
}
#home img{
  width:18vw;
  border-radius: 50%;
  margin-top:3em;
}
.info-box{
  display: flex;
  flex-direction: column;
  text-align:center;
  gap: 0.5em;
  max-width: 600px;
}
.info-box h1{
  font-size: 4em;
  font-weight: 500;
}
.info-box h3{
  font-size: 2em;
  font-weight: 400;
}
.info-box p{
  opacity: 0.7;
}
.btn-box{
  display:flex;
  gap: 1em;
}
.btn-box .btn:nth-of-type(2){
  background-color: black;
  color:var(--background);
}
.btn-box .btn:nth-of-type(2):hover{
  background-color: var(--background);
  color: black;
}
/*scrollbar*/
::-webkit-scrollbar{
  width: 20px;
  background-color: var(--background);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #f7f3a7, #d2dfe5);
}

/*ABOUT*/
#about{
  background-color: var(--second-background);
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}
#about img{
  width:30vw;
  border-radius: 1em;
}
.about-box{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2em;
}
.about-box h1{
  font-size: 4em;
}
.about-box p{
  color: black;
  opacity:0.8;
}
.skills{
  display: flex;
  text-align: left;
  gap:5em;
}
.skills ul{
  font-size: 1.3em;
  font-weight: 500;
  display:flex;
  flex-direction: column;
  color:black;
  opacity:0.8;
  align-items:baseline;
}
.skills ul li span{
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: 1em;
  transition:0.3s ease-in-out;
}
.skills ul li span:hover{
  transform: translateX(10px);
}
.skills ul li i{
  font-size:1em;
}

.skills ul li .progress-bar {
  position: relative;
  width: 200px; 
  height: 10px;
  margin-top: 5px;
}
.skills ul li .progress-bar progress {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #ddd;
}
.skills ul li .progress-bar progress[value]::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 5px;
}
.skills ul li .progress-bar progress[value]::-webkit-progress-value {
  background-color: linear-gradient(to right, #25be0a, #044967);
  border-radius: 5px;
}
.skills ul li .progress-bar .progress-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2px;
  opacity: 0; 
  transition: opacity 0.2s ease-in-out;
}
.skills ul li .progress-bar:hover .progress-text {
  opacity: 2; 
}
.about-box h2{
  font-size: 2.5em;
}

/*PROJECTS*/
#Projects{
  background-color: var(--background);
}
.header{
  text-align: center;
  font-size: 5em;
  margin: 0.5em 0;
}
.Project-container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  gap:2em;
}
.box{
  border: 3px solid cornsilk;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  padding: 3em;
  gap: 2em;
  color:black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.box:hover{
  border: 3px solid rgb(243, 216, 108);
}
.box p{
  opacity:0.8;
}
.box h1{
  font-size: 2em;
}
.box img{
  min-width: 25px;
  border-radius: 0.5em;
}

/*EDUCATION*/
#education {
  background-color: var(--second-background);
  padding: 5% 15%;
  text-align: center;
}
.header{
  text-align: center;
  font-size: 5em;
  margin: 0.5em 0;
}
.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.education-item {
  max-width: 600px;
}
.education-item h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.education-item ul{
  font-size: 1.3em;
  font-weight: 500;
  display:flex;
  flex-direction: column;
  color:black;
  opacity:0.8;
  align-items:baseline;
}
.education-item ul li span:hover{
  transform: translateX(10px);
}

/*CONTACT*/
#contact{
  background-color: var(--background);
}
form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2em;
}
form .input-box{
  display:flex;
  flex-direction: column;
  align-items: baseline;
  gap:1em;
}
.input-box span{
  font-size:1.5em;
}
form input{
  font-size: 1.3em;
  padding: 1em 5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
}
form input:focus{
  background: rgb(222, 199, 141);
}
#submit{
  padding: 0.5em 1em;
  color:black;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5em;
  font-size: 1.1em;
  border: 2px solid whitesmoke;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#submit:hover{
  background-color: rgb(68, 64, 64);
  color: var(--background);
}
form textarea{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: #f9f9f9;
  font-size: 14px;
  height: 150px; 
  resize: none;
  font-size:1.3em;
  padding: 1em 5em;
}
form textarea:focus{
  background: rgb(222, 199, 141);
}
form textarea{
  display:flex;
  flex-direction: column;
  align-items: baseline;
  gap:1em;
}

/*FOOTER*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10em; 
  padding: 2em 15%; 
  bottom:0;
  background-color: var(--second-background);
  width: 100%;
}
.col-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.col-box {
  display: flex;
  align-items: center;
  gap: 1em;
}
.col-box i {
  font-size: 2em;
}
.col-box span {
  font-size: 1.2em;
}
.col-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: black;
  max-width: 500px;
}
.col-right span {
  font-size: 1.3em;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 1em;
}
.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: inherit;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  transform: scale(1.1); 
}

/*RESPONSIVENESS*/
@media(max-width:968px){
  section{
    padding: 8em 15%;
  }
  nav .btn{
    display: none;
  }
  #menu{
    display: block;
  }
  .links{
    position:absolute;
    top:100%;
    right:0;
    width: 100%;
    padding: 1em 3em;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(241, 235, 235, 0.9);
    display: none;
  }
  .links a{
    margin: 2em 0;
    display:block;
    font-size: 1.5em;
    color: black;
  }
  .links.active{
    display:block;
  }
  #home h1{
    font-size: 4em;
  }
  #home h3{
    font-size: 2em;
  }
  #home img{
    width:24vw;
  }
  #about{
    flex-direction: column;
  }
  #about img{
    width: 32vw;
  }
  #about h1{
    font-size: 3em;
  }
  #about ul{
    font-size: 1em;
  }
}
@media(max-width:768px){
  #home h1{
    font-size: 2.5em;
  }
  #home h3{
    font-size: 1.5em;
  }
  #home img{
    width:32vw;
  }
  #about .skills{
    gap: 3em;
  }
  #Projects .header{
    font-size: 3em;
  }
  #education .header{
    font-size: 3em;
  }
  .education-item h2 {
    font-size: 1em;
  }
  #contact .header{
    font-size: 3em;
  }
  #contact .input-box span{
    font-size: 1.2em;
  }
  #contact textarea {
    font-size: 1.2em;
  }
  .input-box input{
    padding:0.5em 1em;
  }
  footer{
    flex-direction: column;
    gap:5em;
    align-items: baseline;
  }
}
